
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}

main{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    /* background-color: rgb(0, 13, 24); */
    /* background-color: rgb(0, 1, 12); */
    /* background: linear-gradient(to rigth, rgb(0, 1, 12), rgb(0, 12, 0)); */
    /* background: linear-gradient(to right, rgb(0, 1, 12), rgb(7, 0, 25), rgb(2, 11, 23)); */
    background: 
    radial-gradient(circle at 20% 30%,  rgb(0, 13, 24), transparent),
    radial-gradient(circle at 80% 70%, rgb(0, 1, 12), transparent),
    radial-gradient(circle at 50% 50%, rgb(2, 11, 23), transparent),
    rgb(0, 1, 12);
    color: white;

    min-height: 100vh;
    padding: 10%;
}
header{
    background-color: rgb(2, 11, 23);
    border-bottom: 2px solid rgba(255, 255, 255, 0.266);
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
    padding: 0.5%  1%;
}
header .navegacion{
    width: 50%;
    text-align: end;
}
header .navegacion a{
    color: white;
    text-decoration: none;
    margin: 0% 5%;
}
header .mostrar{
    display: none;
}


p{
    color: rgba(255, 255, 255, 0.764);
    font-size: 1.2rem;
}
h1{
    font-size: 6rem;
}
h2{
    font-size: 3rem;
    font-weight: bold;
}


footer{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0.5% 0%;
}

footer a{
    text-decoration: none;
}
footer p{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    color: black;
    margin: 0px;
}

@media screen and (max-width: 1000px){
    header{
        display: block;
    }
    header .titulo{
        padding-top: 2%;
        width: 100%;
        text-align: center;
    }
    header .navegacion{
        width: 100%;
        text-align: center;
    }

    p{
        font-size: 1rem;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 2rem;
        font-weight: bold;
    }
        
}
@media screen and (max-width: 500px){
    header .navegacion{
        display: none;
        transition: opacity 0.4s ease, transform 0.4s ease;
    }
    header .navegacion a{
        margin-top: 1%;
        display: block;
    }
    header .mostrar{
        text-align: center;
        display: block;
        margin-top: 2%;
    }
    header .mostrar i{
        color: white;
        text-decoration: none;
    }
}
